# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
htmlcov/

# Environment variables (Sensitive data)
.env

# Add by miles
.venv_lora/
outputs/
outputs.tmp/
lora_model/
logs/
_outputs/
_results/
